.styleinputediting{
  background-color: #2B2B3F;
  border-radius: 5px;
  height: 30px;
  width: 40%;
  color: #ffff;
  border-color: #727288;
  justify-content: end;
  flex-wrap: nowrap;
  border: none;
}
.date{
  background-color: red;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  color: #ffff;
 
}
.styledetailtextedit{
  background-color: red !important;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  color: #ffff;
}
.styledetailtextupload {
  background-color: #2B2B3F !important; /* Màu cam */
  color: #FFAC69;
  border-color: #FFAC69;
}
.checkboxediting{
  color: #ffff;
}


.btneditedit{
  cursor: pointer; /* Thay đổi con trỏ thành dạng bấm được khi hover */
}
  .btneditedit:hover {
    opacity: 0.7; /* Giảm độ trong suốt của hình ảnh khi hover */
}
.btneditedit:active {
    transform: scale(0.95); /* Giảm kích thước hình ảnh khi đang được nhấn */
}
.btnedit1edit{
  cursor: pointer; /* Thay đổi con trỏ thành dạng bấm được khi hover */
}
  .btnedit1edit:hover {
    opacity: 0.7; /* Giảm độ trong suốt của hình ảnh khi hover */
}
.btnedit1edit:active {
    transform: scale(0.95); /* Giảm kích thước hình ảnh khi đang được nhấn */
}
.stylebtnedit{
  margin-left: 46%;
 margin-top: 31%;
}
.btneditedit{
  height: 30px;
  width: 10%;
  background-color: #FF7506;
  border: none;
  margin-left: 20px;
  color: #ffff;
  border-radius: 6px;
}
.btnedit1edit{
  height: 30px;
  width: 10%;
  background-color: #2B2B3F;
  border: none;
  color: #FF7506;
  border-color: #FF7506;
  border-radius: 6px;

}