.styleinputediting{
  background-color: #2B2B3F;
  border-radius: 5px;
  height: 30px;
  width: 40%;
  color: #ffff;
  border-color: #727288;
  justify-content: end;
  flex-wrap: nowrap;
  border: none;
}
.date{
  background-color: red;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  color: #ffff;
 
}
.styledetailtextedit{
  background-color: red !important;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  color: #ffff;
}
.styledetailtextupload {
  background-color: #2B2B3F !important; /* Màu cam */
  color: #FFAC69;
  border-color: #FFAC69;
}
.checkboxediting{
  color: #ffff;
}