.custom-tableplaylist {
    border-collapse: collapse;
    width: 77%;
    background-color: #2F2F41;
    border-radius: 10px;
    margin-top: 2%;
   
  }
  
  .custom-tableplaylist th, .custom-tableplaylist td {
  
    padding: 8px;
    
  }
  .custom-tableplaylist .table-divider td {
    border-top: 1px solid rgb(255, 255, 255); // Đường kẻ dài ngang bảng
    opacity: 3;
    color: #ffff;
    
  }
  .imgplaylist{
    margin-top: 30px;
    height: 250px;
    width: auto;
    border-radius: 20px;
  }
  .textimg{
    color: #ffff;
    
  }
  .stylett{
    text-align: left;
    margin: 10px;
    color: #ffff;
    opacity: 0.5;
  }
.styletital{
  text-align: left;
  margin: 10px;
  color: #ffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  opacity: 0.7;
}
.chude1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Cách lề giữa các div */
  width: 300px; /* Độ rộng của container, bạn có thể điều chỉnh theo ý muốn */
  color: #ffff;
  opacity: 0.7;
  font-size: 13px;
}

.chude1 > div {
  width: calc(30% + 10px); /* 33.33% chiều rộng và trừ đi lề giữa các div */
  margin-bottom: 1px; /* Lề dưới giữa các hàng */
  padding: 2px;
  box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước của div */
}
.stylefinal{
  color: #ffff;

  
}
.stylefinal > div{
margin-bottom: 10px;
  text-align: left;
}
