.styleInputeditlist {
    height: 40px;
    width: 260px;
    border-radius: 10px;
    background-color: #2B2B3F !important;
    color: #ffff;
    font-size: 18px;
    
    border-color: #d4d4f5;
}
.styleInputeditlist1 {
    height: 100px;
    width: 260px;
    border-radius: 10px;
    background-color: #2B2B3F !important;
    color: #ffff;
    font-size: 18px;
    
    border-color: #d4d4f5;
}
.styleInputeditlist2 {
    height: 50px;
    width: 260px;
    border-radius: 10px;
    background-color: #2B2B3F !important;
    color: #ffff;
    font-size: 18px;
    
    border-color: #d4d4f5;
}
